body {
  width: 100vw;
  margin: 0;
  background-color: #333344;
}

.cards-grid {
  width: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  margin: 3rem 3rem;
  gap: 2rem 4rem
}

.cards-grid .card {
  width: 80px;
  height: 120px;
  /* background: radial-gradient(circle, rgb(233, 115, 115) 0%, rgba(0,212,255) 100%) ; */
  background: radial-gradient(circle, cyan 0%, cornsilk 30%, magenta 60%) ;
  /* background-color: cornsilk; */
}

#three-canvas {
  position: absolute;
  width: 400px;
  height: 400px;
  top: 0;
}