body {
  width: 100vw;
  margin: 0;
  background-color: rgb(51, 76, 122);;
}

.header {
  background-color: rgb(66, 99, 159);
  border-radius: 0 0 1rem 1rem;
  text-align: center;
  padding: 1.5rem;
  
  span {
    color: aliceblue;
    font-size: 3rem;
    font-family: sans-serif;
  }
}

.cards-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  margin: 2rem 2rem 0 2rem;
  gap: 2rem;

  .card {
    width: 12rem;
    height: 18rem;
    background: #333344;
    border: #aaaaaa 16px;

    &.c1 {
      background: radial-gradient(circle, rgba(20,135,0,1) 0%, rgba(0,212,255,1) 100%);
    }

    &.c2 {
      background: linear-gradient(0deg, rgba(255,228,200,1) 0%, rgba(253,186,45,1) 100%);
    }
    
    &.c3 {
      background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    }
    
    &.c4 {
      background: radial-gradient(farthest-corner at 40px 40px, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    }
    
    &.c5 {
      background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    }
    
    &.c6 {
      background: radial-gradient(circle at 100% 50%, #000, coral 50%, #eee 75%, #eee 75%);
    } 
  }
}

.brush-console {
  display: flex;
  flex-direction: row;
  margin: 2rem 0 0 2rem;
  gap: 1.5rem;

  span {
    color: lightgray;
    font-size: 2.5rem;
    text-transform: uppercase;
    padding: 1rem;
  }

  #thickness-input {
    margin: 0.6rem 0;
    width: 10rem;
    height: 3rem;
    font-size: 2rem;
  }
}

#three-canvas {
  position: absolute;
  width: 400px;
  height: 400px;
  top: 0;
}